.faq {
  width: 100%;
  padding: 5vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.questionBox {
  height: 300px;
  border-radius: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 30%;
  margin: 0 2%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.questionBox:hover {
  transform: translate(-5px, -5px);
  transition: 0.7s;
}
.icon {
  color: green;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 3);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon > i {
  font-size: 40px;
}
.title {
  font-size: 24px;
  font-weight: bolder;
}
.description {
  text-align: center;
  padding: 0 5%;
}
