<div class="faq">

  <div class="customer questionBox" routerLink='/faq/customer'>
    <div class="icon"><i class="material-icons"> copyright </i></div>
    <div class="title">Customer</div>
    <div class="description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste itaque
      inventore debitis voluptas quia. Ratione sit cumque, nostrum nihil magni
      ad ex illum modi recusandae dolores ab deserunt molestias ullam?
    </div>  
  </div>

  <div class="general questionBox" routerLink='/faq/general' >
    <div class="icon"><i class="material-icons"> thumb_up </i></div>
    <div class="title">General</div>
    <div class="description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste itaque
      inventore debitis voluptas quia. Ratione sit cumque, nostrum nihil magni
      ad ex illum modi recusandae dolores ab deserunt molestias ullam?
    </div>
  </div>

  <div class="vendor questionBox" routerLink='/faq/vendor'>
    <div class="icon"><i class="material-icons"> dashboard </i></div>
    <div class="title">Vendor</div>
    <div class="description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste itaque
      inventore debitis voluptas quia. Ratione sit cumque, nostrum nihil magni
      ad ex illum modi recusandae dolores ab deserunt molestias ullam?
    </div>
  </div>

</div>
