.navbar {
    width: 100%;
  }
  
  .col-md-6 {
    background-color: white;
    color: black;
    margin-right: 5px;
    margin-bottom: 0px;
  }
  
  .col-md-6 {
    background-color: white;
    margin-left: -5px;
    margin-top: 0px;
  }
  
  .question {
    width: 100%;
    padding: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .questionBox {
    height: 80px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    margin: 0 2%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 30px;
  }
  
  .answerBox {
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    margin: 0 2%;
    margin-bottom: 2%;
    font-family: Lato;
    font-size: 24px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  