<html>
  <head>
    <title>DashBoard</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <!-- Brand -->
          <a class="navbar-brand" href="#">Logo</a>

          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#">Link 1</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Link 2</a></li>
          </ul>
        </nav>
      </div>
      <br />
      <br />
      <div class="row" *ngFor="let customer of customers">
        <div class="col-md-6" >
          Questions
          <div class="question"><div class="questionBox">{{customer.name}}</div></div>
          
        </div>
        <div class="col-md-6">
          Answer
          <div class="answerBox">{{customer.answer}}</div>
        </div>
      </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </body>
</html>
